@import '../abstracts/variables';
@import '../abstracts/utilities';

.banner {
    background-color: #141517;
    min-height: 100dvh;
    position: relative;
    // z-index: 9999;

    overflow: hidden;
    display: flex;

    @include max (900) {
        flex-direction: column;
    }

    cursor: none;

    &::after {
        content: '';
        background: linear-gradient(90deg, rgba($color: #000, $alpha: 1.0) 50%, rgba($color: #141517, $alpha: 0) 100%);
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        @include max (900) {
            display: none;
        }
    }

    &:has(.modal--active) .banner__cursor {
        display: none;
    }

    &__dinamic {
        max-width: 83rem;
        width: 70%;
        margin: 12.5rem auto 0 10%;

        @include max (900) {
            height: initial;
            width: 90%;
            margin: 3rem auto;
            align-items: center;
            gap: 3rem;
        }

        height: 70dvh;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__dados {
        max-width: 83rem;
        width: 100%;
        position: relative;
        z-index: 5;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 6rem;

        @include max (900) {
            justify-content: center;
        }

        article {
            max-width: 28.1rem;
            width: fit-content;
            
            color: #fff;
            font-size: 1.6rem;
            line-height: 2.4rem;
            text-transform: uppercase;
            text-align: center;

            span {
                font-family: 'Avigea';
                font-size: 4.8rem;
                line-height: 6.5rem;

                @include max (900) {
                    font-size: 3.5rem;
                    line-height: 4.5rem;
                }
            }
        }
    }
    
    &__frase {
        font-size: 4.8rem;
        font-weight: 300;
        line-height: 7.2rem;
        color: #fff;

        display: block;
        max-width: 79rem;
        width: 100%;
        
        z-index: 2;

        @include max (900) {
            font-size: 3rem;
            line-height: 4.2rem;
            text-align: center;
        }

        strong {
            font-weight: 600;
        }
    }

    &__logo {
        max-width: 35rem;
        width: 100%;
        z-index: 2;

        @include max (900) {
            max-width: 15rem;
        }

        img {
            width: 100%;
            object-fit: contain;
        }
    }

    &__logos {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2rem;
        max-width: 46.5rem;
        width: 100%;
        z-index: 5;

        @include max (900) {
            max-width: 100%;
            justify-content: center;
        }
    }

    &__video {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 50dvw;
        height: 100dvh;
        overflow: hidden;

        @include max (900) {
            position: relative;
            order: -1;
            right: initial;
            top: initial;
            transform: initial;

            width: 100dvw;
            height: 70dvh;
        }

        video {
            position: absolute;
            top: 0;
            left: 0;
            min-width: 100%;
            min-height: 100%;

            @include max (900) {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}